{% load base_tags %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar" style="overflow: scroll !important;">

        <div class="user-profile">
            <div class="ulogo">
                <a href="index.html">
                    <!-- logo for regular state and mobile devices -->
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="../images/logo-dark.png" alt="">
                        <h3><b>KOOP</b> DEPOT</h3>
                    </div>
                </a>
            </div>
        </div>

        <!-- sidebar menu-->
        <ul class="sidebar-menu" data-widget="tree">

            <li>
                <a href="{% url "config:panel_home" %}">
                    <i data-feather="pie-chart"></i>
                    <span>داشبورد</span>
                </a>
            </li>

{#            <li class="treeview">#}
{#                <a href="#">#}
{#                    <i data-feather="message-circle"></i>#}
{#                    <span>انبار</span>#}
{#                    <span class="pull-right-container">#}
{#								<i class="fa fa-angle-right pull-right"></i>#}
{#							</span>#}
{#                </a>#}
{#                <ul class="treeview-menu">#}
{#                    <li><a href="{% url "product:exportal_list_panel" %}"><i class="ti-more"></i>انبار قله های#}
{#                        صادرانی</a></li>#}
{#                    <li><a href="{% url "product:internal_list_panel" %}"><i class="ti-more"></i>انبار قله های داخلی</a>#}
{#                    </li>#}
{#                    <li><a href="{% url "product:exportal_product_create" %}"><i class="ti-more"></i>به رزرسانی - افزودن#}
{#                        قله صادراتی</a></li>#}
{#                    <li><a href="{% url "product:exportal_product_create" %}"><i class="ti-more"></i>به روزرسانی-افزودن#}
{#                        قله داخلی</a></li>#}
{#                    <li><a href="{% url "product:lined_product" %}"><i class="ti-more"></i>به روز زسانی - لاین شده در#}
{#                        معدن</a></li>#}
{#                    <li><a href="{% url "product:loaded_product" %}"><i class="ti-more"></i> به روز زسانی - بارگیری</a>#}
{#                    </li>#}
{#                    <li><a href="{% url "product:rejected_product" %}"><i class="ti-more"></i>به روز زسانی -عودت شده</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
                       <li class="treeview">
                <a href="#">
                    <i data-feather="layers"></i>
                    <span>انبار</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                                        <li class="treeview">
                                            <a href="#">انبار
                                                <span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i>
                                </span>
                                            </a>
                                            <ul class="treeview-menu">
                                                <li><a href="{% url "product:exportal_list_panel" %}">انبار قله های خارحی</a></li>
                                                <li><a href="{% url "product:internal_list_panel" %}">انبار قله های داخلی</a></li>
                                                <li class="treeview">
                                                    <a href="#">
                                        <span class="pull-right-container">
                    					  <i class="fa fa-angle-right pull-right"></i>
                    					</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="treeview">
                                            <a href="#">به روزرسانی
                                                <span class="pull-right-container">
                                  <i class="fa fa-angle-right pull-right"></i>
                                </span>
                                            </a>
                                            <ul class="treeview-menu">
                                                                 <li><a href="{% url "product:exportal_product_create" %}"><i class="ti-more"></i>به رزرسانی - افزودن
                        قله صادراتی</a></li>
                    <li><a href="{% url "product:internal_product_create" %}"><i class="ti-more"></i>به روزرسانی-افزودن
                        قله داخلی</a></li>
                    <li><a href="{% url "product:lined_product_create" %}"><i class="ti-more"></i>به روز زسانی - لاین شده در
                        معدن</a></li>
                    <li><a href="{% url "product:loaded_product" %}"><i class="ti-more"></i> به روز زسانی - بارگیری</a>
                    </li>
                    <li><a href="{% url "product:rejected_update" %}"><i class="ti-more"></i>به روز زسانی -عودت شده</a>
                                                <li class="treeview">
                                                    <a href="#">
                                        <span class="pull-right-container">
                    					  <i class="fa fa-angle-right pull-right"></i>
                    					</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
{#                                        <li class="treeview">#}
{##}
{#                                            <a href="#">بارگیری شده#}
{#                                                <span class="pull-right-container">#}
{#                                  <i class="fa fa-angle-right pull-right"></i>#}
{#                                </span>#}
{#                                            </a>#}
{#                                            <ul class="treeview-menu">#}
{##}
{#                                                <li><a href="">سلماس </a></li>#}
{#                                                <li class="treeview">#}
{#                                                    <a href="#">#}
{#                                        <span class="pull-right-container">#}
{#                    					  <i class="fa fa-angle-right pull-right"></i>#}
{#                    					</span>#}
{#                                                    </a>#}
{#                                                    <ul class="treeview-menu">#}
{#                                                        <li><a href="#">سطح سه</a></li>#}
{#                                                        <li><a href="#">سطح سه</a></li>#}
{#                                                    </ul>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </li>#}
{#                                        <li class="treeview">#}
{##}
{#                                            <a href="#">لیست قله های صادرانی موجود#}
{#                                                <span class="pull-right-container">#}
{#                                  <i class="fa fa-angle-right pull-right"></i>#}
{#                                </span>#}
{#                                            </a>#}
{#                                            <ul class="treeview-menu">#}
{##}
{#                                                <li><a href="">تکاب </a></li>#}
{#                                                <li class="treeview">#}
{#                                                    <a href="#">#}
{#                                        <span class="pull-right-container">#}
{#                    					  <i class="fa fa-angle-right pull-right"></i>#}
{#                    					</span>#}
{#                                                    </a>#}
{#                                                    <ul class="treeview-menu">#}
{#                                                        <li><a href="#">سطح سه</a></li>#}
{#                                                        <li><a href="#">سطح سه</a></li>#}
{#                                                    </ul>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </li>#}
{#                                        <li class="treeview">#}
{#                                            <a href="#">لیست قله های داخلی موجود#}
{#                                                <span class="pull-right-container">#}
{#                                  <i class="fa fa-angle-right pull-right"></i>#}
{#                                </span>#}
{#                                            </a>#}
{#                                            <ul class="treeview-menu">#}
{##}
{#                                                <li><a href="">آتشکوه </a></li>#}
{#                                                <li class="treeview">#}
{#                                                    <a href="#">#}
{#                                        <span class="pull-right-container">#}
{#                    					  <i class="fa fa-angle-right pull-right"></i>#}
{#                    					</span>#}
{#                                                    </a>#}
{#                                                </li>#}
{#                                            </ul>#}
{##}
{#                                        </li>#}

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i data-feather="mail"></i> <span>لیست مشتریان </span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url "account:possible_user" %}"><i class="ti-more"></i>مشتریان احتمالی</a></li>
                    <li><a href="{% url "account:potential_user" %}"><i class="ti-more"></i>مشتریان بالقوه</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i data-feather="server"></i>
                    <span>مشتریان VIP</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url "account:special_user" %}"><i class="ti-more"></i>لیست مشتریان VIP</a></li>
                    <li><a href="{% url "account:special_user_create" %}"><i class="ti-more"></i>افزودن مشتری VIP</a>
                    </li>
                </ul>
            </li>
            {#            {% category_navbar %}#}
            <li class="treeview">
                <a href="#">
                    <i data-feather="layers"></i>
                    <span>گزارشات</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    {#                    <li class="treeview">#}
                    {#                        <a href="#">تولید#}
                    {#                            <span class="pull-right-container">#}
                    {#              <i class="fa fa-angle-right pull-right"></i>#}
                    {#            </span>#}
                    {#                        </a>#}
                    {#                        <ul class="treeview-menu">#}
                    {#                            <li><a href="">تمام معادن</a></li>#}
                    {#                            <li class="treeview">#}
                    {#                                <a href="#">#}
                    {#                    <span class="pull-right-container">#}
                    {#					  <i class="fa fa-angle-right pull-right"></i>#}
                    {#					</span>#}
                    {#                                </a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    {#                    <li class="treeview">#}
                    {#                        <a href="#">موجودی#}
                    {#                            <span class="pull-right-container">#}
                    {#              <i class="fa fa-angle-right pull-right"></i>#}
                    {#            </span>#}
                    {#                        </a>#}
                    {#                        <ul class="treeview-menu">#}
                    {#                            <li><a href="">مهاباد</a></li>#}
                    {#                            <li class="treeview">#}
                    {#                                <a href="#">#}
                    {#                    <span class="pull-right-container">#}
                    {#					  <i class="fa fa-angle-right pull-right"></i>#}
                    {#					</span>#}
                    {#                                </a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    {#                    <li class="treeview">#}
                    {##}
                    {#                        <a href="#">بارگیری شده#}
                    {#                            <span class="pull-right-container">#}
                    {#              <i class="fa fa-angle-right pull-right"></i>#}
                    {#            </span>#}
                    {#                        </a>#}
                    {#                        <ul class="treeview-menu">#}
                    {##}
                    {#                            <li><a href="">سلماس </a></li>#}
                    {#                            <li class="treeview">#}
                    {#                                <a href="#">#}
                    {#                    <span class="pull-right-container">#}
                    {#					  <i class="fa fa-angle-right pull-right"></i>#}
                    {#					</span>#}
                    {#                                </a>#}
                    {#                                <ul class="treeview-menu">#}
                    {#                                    <li><a href="#">سطح سه</a></li>#}
                    {#                                    <li><a href="#">سطح سه</a></li>#}
                    {#                                </ul>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    {#                    <li class="treeview">#}
                    {##}
                    {#                        <a href="#">لیست قله های صادرانی موجود#}
                    {#                            <span class="pull-right-container">#}
                    {#              <i class="fa fa-angle-right pull-right"></i>#}
                    {#            </span>#}
                    {#                        </a>#}
                    {#                        <ul class="treeview-menu">#}
                    {##}
                    {#                            <li><a href="">تکاب </a></li>#}
                    {#                            <li class="treeview">#}
                    {#                                <a href="#">#}
                    {#                    <span class="pull-right-container">#}
                    {#					  <i class="fa fa-angle-right pull-right"></i>#}
                    {#					</span>#}
                    {#                                </a>#}
                    {#                                <ul class="treeview-menu">#}
                    {#                                    <li><a href="#">سطح سه</a></li>#}
                    {#                                    <li><a href="#">سطح سه</a></li>#}
                    {#                                </ul>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    {#                    <li class="treeview">#}
                    {#                        <a href="#">لیست قله های داخلی موجود#}
                    {#                            <span class="pull-right-container">#}
                    {#              <i class="fa fa-angle-right pull-right"></i>#}
                    {#            </span>#}
                    {#                        </a>#}
                    {#                        <ul class="treeview-menu">#}
                    {##}
                    {#                            <li><a href="">آتشکوه </a></li>#}
                    {#                            <li class="treeview">#}
                    {#                                <a href="#">#}
                    {#                    <span class="pull-right-container">#}
                    {#					  <i class="fa fa-angle-right pull-right"></i>#}
                    {#					</span>#}
                    {#                                </a>#}
                    {#                            </li>#}
                    {#                        </ul>#}
                    {##}
                    {#                    </li>#}
                    <li>
                        <a href="{% url "product:production_reports" %}">تولید (فیلتر=بازه زمانی معدن)</a>
                    </li>
                    <li>
                        <a href="{% url "product:loaded_reports" %}">بارگیری شده(فیلتر=بازه زمانی معدن)</a>
                    </li>
                    <li>
                        <a href="{% url "product:exportal_reports" %}">موجودی صادراتی (فیلتر= معدن)</a>
                    </li>
                    <li>
                        <a href="{% url "product:internal_reports" %}">موجودی داخلی (فیلتر= معدن)</a>
                    </li>
			  <li>
                        <a href="{% url "product:rejected_product" %}">عودت شده (فیلتر= معدن)</a>
                    </li>
                    <li>
                        <a href="{% url "mine:mine_law" %}">حقوق معادن</a>
                    </li>
                    {#                    <li>#}
                    {#                        <a href="{% url "product:internal_list_panel" %}">لیست قله های هولد (فیلتر=معدن)</a>#}
                    {#                    </li>#}
                    {#                    <li>#}
                    {#                        <a href="{% url "product:internal_list_panel" %}">ارسال نمونه (فیلتر بازه زمانی - معدن)</a>#}
                    {#                    </li>#}
                    {#                    <li>#}
                    {#                        <a href="{% url "product:internal_list_panel" %}">بازدید (فیلتر بازه زمانی - معدن)</a>#}
                    </li>
                </ul>
            </li>
            {% category_navbar %}
            <li class="treeview">
                <a href="#">
                    <i data-feather="edit-2"></i>
                    <span>آمار ثبت درخواست ها</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url "demand:sample_list" %}"><i class="ti-more"></i> نمونه</a></li>
                    <li><a href="{% url "demand:visit_list" %}"><i class="ti-more"></i>بازدید</a></li>
                    <li><a href="{% url "demand:hold_list" %}"><i class="ti-more"></i> Hold</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i data-feather="mail"></i> <span>آمار ثبت پیام ها</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url "account:site_activity" %}"><i class="ti-more"></i>لیست پیام های ارسال شده</a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="{% url "account:activity_list" %}"><i class="ti-more"></i>آمار ثبت بروزرسانی</a>
            </li>


            <li class="treeview">
                <a href="#">
                    <i data-feather="edit-2"></i>
                    <span>کاربران پنل ادمین</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url "account:admin_list" %}"><i class="ti-more"></i>کاربران ادمین</a></li>
                    <li><a href="{% url "account:admin_create" %}"><i class="ti-more"></i>افزودن ادمین</a></li>
                </ul>
            </li>


            <li>
		          <li class="treeview">
                <a href="#">
                    <i data-feather="edit-2"></i>
                    <span>بلاگ</span>
                    <span class="pull-right-container">
								<i class="fa fa-angle-right pull-right"></i>
							</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url "blog:blog_panel_list" %}"><i class="ti-more"></i>لیست</a></li>
                    <li><a href="{% url "blog:create" %}"><i class="ti-more"></i>افزودن </a></li>
                </ul>
            </li>


            <li>
                <a href="{% url "account:logout" %}">
                    <i data-feather="lock"></i>
                    <span>خروج</span>
                </a>
            </li>

        </ul>
    </section>

    <div class="sidebar-footer">
        <!-- item-->
        <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="تنظیمات"
           aria-describedby="tooltip92529"><i class="ti-settings"></i></a>
        <!-- item-->
        <a href="mailbox_inbox.html" class="link" data-toggle="tooltip" title="" data-original-title="ایمیل"><i
                class="ti-email"></i></a>
        <!-- item-->
        <a href="javascript:void(0)" class="link" data-toggle="tooltip" title="" data-original-title="خروج"><i
                class="ti-lock"></i></a>
    </div>
</aside>
