{% extends "panel/base.html" %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">افزودن بلاک</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i
                                            class="mdi mdi-home-outline"></i></a></li>

                                    <li class="breadcrumb-item active" aria-current="page">افزودن بلاگ</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">

                <div class="row">

                    <div class="col-12">
                        <div class="box">

                            <div class="box-header">
                                <h4 class="box-title">افزودن بلاگ</h4>
                            </div>
                            <div class="box-body">

                                <form method="post" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2">{{ form.title.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.title }}

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.bold.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.bold }}

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.summary.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.summary }}

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.description.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.description }}

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.image.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.image }}

                                        </div>
                                        


                                        <input class="form-control" type="submit">
                                    </div>
                                </form>
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
    </div>
{% endblock %}
