{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="robots" content=""/>
    <meta name="description" content=""/>
    <meta property="og:title" content="Constructzilla - Construction Template"/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'site/images/favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'site/images/favicon.png' %}"/>

    <!-- PAGE TITLE HERE -->
    <title>Constructzilla</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="{% static 'site/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'site/js/respond.min.js' %}"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/plugins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/style.min.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'site/css/skin/skin-1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/templete.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/style-rtl.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/plugins/fonts/dana.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/plugins/fonts/vazir.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/plugins/fonts/iransans.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/css-slide.css' %}">
<style>
input::placeholder {
  color: #fff !important;
}
</style>
</head>
<body id="bg">
<div id="loading-area"></div>
<div class="page-wrapers">
    <!-- Content -->
    <div class="page-content dez-login  overlay-black-middle bg-img-fix">
        <ul class="cb-slideshow">
            <li><span style="background-image: url({% static 'site/images/background/Marble-quarry-Carrara-Italy.jpg' %}) "></span></li>
            <li><span style="background-image: url({% static 'site/images/background/20180503001317106.jpg' %}) "></span></li>
            <li><span style="background-image: url({% static 'site/images/background/Marble-quarry-Tuscany-Italy.jpg' %}) "></span></li>
            <li><span style="background-image: url({% static 'site/images/background/Portland-quarry-Eng-Dorset.jpg' %}) "></span></li>
            <li><span style="background-image: url({% static 'site/images/background/bgmine.jpg' %}) "></span></li>
            <li><span style="background-image: url({% static 'site/images/background/Jacob+Stone+Mine.png' %})"></span></li>
            <!--<li><span style="background-image: url(images/background/Marble-quarry-Tuscany-Italy.jpg) "></span></li>-->
            <!--<li><span style="background-image: url(images/background/Portland-quarry-Eng-Dorset.jpg) "></span></li>-->
       
        </ul>
        <div class="relative z-index3">
            <div id="loginBOX" class="login-form  tp-login-white text-white" style="background-color: #0606065c;">
                <div class="tab-content nav">
                    <div id="login" class="tab-pane active text-center">
                        <form class="p-a50 dez-form" style="margin-top: 25%">
                            <h3 class="form-title m-t0 text-white">ورود</h3>
                            <div class="form-group text-left">
                                <label class="text-left">ایمیل</label>
                                <input name="dzName" required="" class="form-control text-right"
                                       placeholder="ardiyanileila@gmail.com" type="text"
                                       style="background-color: #6a6a6a; opacity: 70%;height: 50px; color: white !important; font-size: 18px;"/>
                                <p style="color: #6EBBF2; font-size: 11px; margin-top: 10px;">لطفا ایمیل خود را جهت
                                    دریافت رمز موقت وارد کنید. </p>
                            </div>

                            <div class="form-group text-center">
                                <a id="temporarybtn" class="site-button dz-xs-flex m-r5"
                                   href="{% url "account:get_password" %}"
                                        style="background-color: #6a6a6a; opacity: 70%;padding-right: 30px;padding-left: 30px;height: 50px">
                                    دریافت رمز موقت
                                </a>
                                <button id="passwordbtn" class="site-button dz-xs-flex m-r5"
                                        style="background-color: #6a6a6a; opacity: 70%;padding-right: 30px;padding-left: 30px; margin-right: 42px;height: 50px">
                                    ورود
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="passwordBOX" class="login-form hide tp-login-white text-white "
                 style="background-color: #0606065c;">
                <div class="tab-content nav">
                    <div id="login" class="tab-pane active text-center">
                        <form class="p-t30 p-b30 p-r50 p-l50  dez-form " style="margin-top: 25%" method="post" action="">
                            {% csrf_token %}
                            <h3 class="form-title m-t0 text-white">ورود</h3>
                            <div class="form-group text-left">
                                <label class="text-left">ایمیل</label>
                                <input name="email" required="" class="form-control"
                                       placeholder="ardiyanileila@gmail.com" type="text"
                                       style="background-color: #6a6a6a; opacity: 70%;height: 50px;  color: white !important; font-size: 18px;"/>


                            </div>
                            <div class="form-group text-left">
                                <label style="font-size: 11px">لطفا رمز خود را وارد کنید</label>
                                <input name="password" required="" class="form-control " placeholder="******"
                                       type="password"
                                       style="background-color: #6a6a6a; opacity: 70%;height: 50px; color: white !important; font-size: 18px;"/>
                                <!--                                <a style="color: #6EBBF2; font-size: 11px; margin-top: 10px;">فراموشی رمز عبور</a>-->
                            </div>
                            <div class="form-group text-center " style="margin-bottom: 2px">
                                <button class="site-button dz-xs-flex m-r5"
                                        style="background-color: #6a6a6a; opacity: 70%; padding-right: 30px;padding-left: 30px;height: 50px" type="submit">
                                    تایید
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="temporaryBOX" class="login-form hide tp-login-white text-white "
                 style="background-color: #0606065c;">
                <div class="tab-content nav">
                    <div id="login" class="tab-pane active text-center">
                        <form class="p-t30 p-b30 p-r50 p-l50 dez-form" style="margin-top: 25%">
                            {% csrf_token %}
                            <h3 class="form-title m-t0 text-white">ورورد</h3>
                            <div class="form-group text-left">
                                <label class="text-left">ایمیل</label>
                                <input name="dzName" required="" class="form-control"
                                       placeholder="ardiyanileila@gmail.com" type="text"
                                       style="background-color: #6a6a6a; opacity: 70%;height: 50px; color: white !important; font-size: 18px;"/>


                            </div>
                            <div class="form-group text-left">
                                <label style="font-size: 12px">لطفا کد ارسال شده به ایمیل خور را وارد کنید</label>
                                <div class="row " style="margin: -6px">
                                    <div class="col-2 " style="padding: 6px">
                                        <input maxlength="1" name="dzName" required="" class="form-control" type="text"
                                               style="background-color: #6a6a6a; opacity: 70%;height: 50px; color: white !important; font-size: 18px;"/>

                                    </div>

                                    <div class="col-2 " style="padding: 6px">
                                        <input maxlength="1" name="dzName" required="" class="form-control" type="text"
                                               style="background-color: #6a6a6a; opacity: 70%;height: 50px; color: white !important; font-size: 18px;"/>

                                    </div>

                                    <div class="col-2 " style="padding: 6px">
                                        <input maxlength="1" name="dzName" required="" class="form-control" type="text"
                                               style="background-color: #6a6a6a; opacity: 70%;height: 50px; color: white !important; font-size: 18px;"/>

                                    </div>

                                    <div class="col-2 " style="padding: 6px">
                                        <input maxlength="1" name="dzName" required="" class="form-control" type="text"
                                               style="background-color: #6a6a6a; opacity: 70%;height: 50px; color: white !important; font-size: 18px;"/>

                                    </div>

                                    <div class="col-2 " style="padding: 6px">
                                        <input maxlength="1" name="dzName" required="" class="form-control" type="text"
                                               style="background-color: #6a6a6a; opacity: 70%;height: 50px; color: white !important; font-size: 18px;"/>

                                    </div>

                                    <div class="col-2 " style="padding: 6px">
                                        <input maxlength="1" name="dzName" required="" class="form-control" type="text"
                                               style="background-color: #6a6a6a; opacity: 70%;height: 50px; color: white !important; font-size: 18px;"/>

                                    </div>


                                </div>
                                <p style="color: #6EBBF2 ;text-align: center;margin-bottom: -10px">ارسال مجدد کد
                                    01:59 </p>
                            </div>
                            <div class="form-group text-center" style="margin-bottom: -10px">
                                <button class="site-button dz-xs-flex m-r5"
                                        style="background-color: #6a6a6a; opacity: 70%; padding-right: 30px;padding-left: 30px;height: 50px">
                                    تایید
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
</div>

<!--<script>-->

<!--    $("p").click(function(){-->
<!--        alert("The paragraph was clicked.");-->
<!--    });-->

<!--</script>-->
<!-- JavaScript  files ========================================= -->
<script src="{% static 'site/js/jquery.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'site/plugins/bootstrap/js/popper.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'site/plugins/bootstrap/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'site/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script><!-- FORM JS -->
<script src="{% static 'site/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script><!-- FORM JS -->
<script src="{% static 'site/plugins/magnific-popup/magnific-popup.js' %}"></script><!-- MAGNIFIC POPUP JS -->
<script src="{% static 'site/plugins/counter/waypoints-min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'site/plugins/counter/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'site/plugins/imagesloaded/imagesloaded.js' %}"></script><!-- IMAGESLOADED -->
<script src="{% static 'site/plugins/masonry/masonry-3.1.4.js' %}"></script><!-- MASONRY -->
<script src="{% static 'site/plugins/masonry/masonry.filter.js' %}"></script><!-- MASONRY -->
<script src="{% static 'site/plugins/owl-carousel/owl.carousel.js' %}"></script><!-- OWL SLIDER -->
<script src="{% static 'site/js/custom.min.js' %}"></script><!-- CUSTOM FUCTIONS  -->
<script src="{% static 'site/js/dz.carousel.min.js' %}"></script><!-- SORTCODE FUCTIONS  -->
<script src="{% static 'site/js/dz.ajax.js' %}"></script><!-- CONTACT JS  -->

<script>
    $(document).ready(function () {
        $("#temporaryBOX").hide();
        $("#passwordBOX").hide();
        $("#temporarybtn").click(function () {
            $("#temporaryBOX").show();
            $("#loginBOX").hide();
            $(".top-head").hide();
        });
        $("#passwordbtn").click(function () {
            $("#passwordBOX").show();
            $("#loginBOX").hide();
            $(".top-head").hide();
        });
    });
</script>

</body>
</html>
