{% extends "panel/base.html" %}
{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">افزودن معدن</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html"><i
                                            class="mdi mdi-home-outline"></i></a></li>

                                    <li class="breadcrumb-item active" aria-current="page">افزودن معادن</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <section class="content">

                <div class="row">

                    <div class="col-12">
                        <div class="box">

                            <div class="box-header">
                                <h4 class="box-title">افزودن معدن</h4>
                            </div>
                            <div class="box-body">

                                <form method="post" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2">{{ form.name.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.name }}

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.stone_type.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.stone_type }}

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.discovery_license_number.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.discovery_license_number }}

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.date_of_issuance_of_the_discovery_license_number.label }}</label>
                                        <div class="col-md-10">
                                            <input type="date" name="date_of_issuance_of_the_discovery_license_number" value="asd" required="" id="id_date_of_issuance_of_the_discovery_license_number">

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.operating_license_number.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.operating_license_number }}

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.date_of_issuance_of_operating_license_number.label }}</label>
                                        <div class="col-md-10">
                                            <input type="date" name="date_of_issuance_of_operating_license_number" value="asd" required="" id="id_date_of_issuance_of_operating_license_number">

                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.minimum_operating_tonnage.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.minimum_operating_tonnage }}


                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.goverment_law.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.goverment_law }}


                                        </div>
                                           <label class="col-form-label col-md-2">{{ form.summary.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.summary }}


                                        </div>
                                           <label class="col-form-label col-md-2">{{ form.blod.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.bold }}


                                        </div>
                                           <label class="col-form-label col-md-2">{{ form.sub_bold.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.sub_bold }}


                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.province.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.province }}


                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.city.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.city }}


                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.village.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.village }}


                                        </div>
                                              <label class="col-form-label col-md-2">{{ form.government_law.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.government_law }}


                                        </div>
                                        <label class="col-form-label col-md-2">{{ form.image.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.image }}


                                        </div>

                                        <label class="col-form-label col-md-2">{{ form.description.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.description }}


                                        </div>
                                            <label class="col-form-label col-md-2">{{ form.address.label }}</label>
                                        <div class="col-md-10">
                                            {{ form.address }}
                                        </div>


                                        <input class="form-control" type="submit">
                                    </div>
                                </form>
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
    </div>
{% endblock %}
